MONGODB_URI=
PORT=
CORS_ORIGIN=https://localhost:5173
COOKIE_SAMESITE=lax

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://localhost:8000/api/auth/oauth/callback
GOOGLE_OAUTH_SCOPES=openid email profile https://www.googleapis.com/auth/youtube.readonly
GOOGLE_OAUTH_STATE_TTL_SECONDS=600

# Github OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=https://localhost:8000/api/auth/oauth/callback
GITHUB_OAUTH_SCOPES=user:email
GITHUB_OAUTH_STATE_TTL_SECONDS=600

# Token secrets & rotation
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d

# mkcert
USE_HTTPS=true
SSL_KEY=./certs/localhost-key.pem
SSL_CERT=./certs/localhost.pem

# Easy-cargo
EASYCARGO_USERNAME=kainguyen.business@gmail.com
EASYCARGO_API_KEY=
